<h1 class="text-center">快ちょう管理 ヘルプ</h1>

<div class="row">
  <div class="col-md-8 col-md-offset-2">
    <h2>概要</h2>
<p>
「快ちょう管理」は排便を記録しつつ、腸の改善と健康生活の向上を図ろうとする人たち向けのソーシャルサービスです。
</p>

    <h2>機能</h2>
    <h3>会員登録</h3>
<p>
「新規登録」からメールアドレスとパスワードで会員登録を行います。
</p>

    <h3>ログイン</h3>
<p>
2回目以降は「ログイン」からメールアドレスとパスワードでログインを行います。
</p>

    <h3>アカウントの設定</h3>
<p>
メニュー「アカウント」→「設定」で開きます。
</p>

<dl>
  <dt>アバター</dt>
  <dd>画像をアップロードできます。</dd>

  <dt>お通じの既定の公開設定</dt>
  <dd>既定の設定です。投稿後は個別に公開設定を修正してください。</dd>

  <dt>体調記録の既定の公開設定</dt>
  <dd>既定の設定です。投稿後は個別に公開設定を修正してください。</dd>

  <dt>記事の既定の公開設定</dt>
  <dd>既定の設定です。投稿後は個別に公開設定を修正してください。</dd>
</dl>

    <h3>アカウントの削除(退会)</h3>
<p>
メニュー「アカウント」→「設定」で開いた後、下の「削除」ボタンで会員の退会が行われます。
</p>

    <h3>お通じの記録</h3>
<p>
排便した便の記録を付けます。
</p>

<dl>
  <dt>形状</dt>
  <dd>形状を選びます。</dd>

  <dt>色</dt>
  <dd>近い色を選びます。</dd>

  <dt>量</dt>
  <dd>代替の良を選びます。</dd>

  <dt>コメント</dt>
  <dd>任意のメモを記録できます。</dd>

  <dt>感じ</dt>
  <dd>直感的な気分を記録できます。</dd>

  <dt>時刻</dt>
  <dd>時刻を記録します。</dd>

  <dt>公開設定</dt>
  <dd>他のユーザへの公開設定を行います。</dd>
</dl>

    <h3>体調の記録</h3>
<p>
排便に影響しそうな全般的な体調の記録を付けます。
</p>

<dl>
  <dt>タイトル</dt>
  <dd>1行タイトルを記入します。</dd>

  <dt>コメント</dt>
  <dd>コメントを記入します。</dd>

  <dt>感じ</dt>
  <dd>直感的な気分を記録できます。</dd>

  <dt>発生時刻</dt>
  <dd>時刻を記録します。</dd>

  <dt>終了時刻</dt>
  <dd>長期間にわたった事象の場合、終了時刻を記録できます。</dd>

  <dt>公開設定</dt>
  <dd>他のユーザへの公開設定を行います。</dd>
</dl>

    <h3>記事(共有記事)</h3>
<p>
他のユーザ向けの記事を投稿できます。
</p>

<dl>
  <dt>タイトル</dt>
  <dd>1行タイトルを記入します。</dd>

  <dt>本文</dt>
  <dd>本文を記入します。</dd>

  <dt>公開設定</dt>
  <dd>他のユーザへの公開設定を行います。</dd>
</dl>


    <h3>フォロー/フレンド</h3>
<p>
他のユーザをフォローすることができます。
フォローすると他のユーザーの投稿がトップページに表示されます。
</p>
<p>
相互フォローされるとフレンドになります。
フレンドになると、公開設定が「フレンドのみ」の投稿も表示されるようになります。
</p>


  </div>
</div>

