<% if user_signed_in? %>
  <div class="row">
    <aside class="col-md-4">
      <section class="user_info">
        <%= render 'shared/user_info' %>
      </section>
    </aside>
  </div>
<% else %>
  <div class="center jumbotron">
    <h1>快ちょう管理</h1>
    <h2>お通じを記録しよう</h2>

    <%= link_to "新規登録！", new_user_registration_path, class: "btn btn-lg btn-primary" %>
  </div>
<% end %>
