.navbar-brand {
    width: 225px;
    height: 32px !important;
    margin-top: 10px;
    background-image: image-url("logo-title.png");
    text-indent: 100%;
    white-space: nowrap;
    overflow: hidden;
}
